html, body {
  font: 14px/16px 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial';
  height: 100%;
  color: #333;
}

button {
  outline: none !important;
}

.jumbotron h2 {
  font-size: 30px;
  line-height: 48px;
}

.btn {
  border-radius: 3px !important;
}

body > .content-wrapper {
  height: auto;
  min-height: 100%;
}

.content-wrapper .container #main {
  padding-bottom: 60px;
}

.footer {
  width: 100%;
  height: 60px;
  margin-top: -60px;
  position: relative;
  text-align: center;
  color: #777;
}

.navbar-custom {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 0;
  padding: 8px 0;
  background: #f5f8fa;
}

.navbar-brand {
  margin-left: 0 !important;
  padding-top: 4px !important;
  padding-left: 0 !important;
}

.navbar-brand img {
  width: 200px;
}

.navbar-nav > li > a {
  font-size: 16px;
  font-weight: 600;
  color: #777;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.navbar-nav > li.active > a {
  background: none;
  color: #487398;
}

.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.btn-default {
  background: #eee;
}

.btn-default:hover {
  background: #ccc;
  border-color: #ccc;
}

.bg-primary,
.btn-primary {
  background: #5b90bf;
  border-color: #5b90bf;
}

.btn-primary:hover,
.btn-primary:focus {
  background: #5181ab;
  border-color: #5181ab;
}

a {
  color: #555;
}

a.primary {
  color: #333;
}

a:hover,
a:focus {
  color: #487398;
  text-decoration: none;
}

#main {
  padding: 0 4px;
}

label.control-label {
  margin-bottom: 8px;
}

.add-option .glyphicon-plus {
  color: #555;
}

.poll {
  margin-bottom: 20px;
}

.options .option-item {
  max-width: 400px;
  margin-bottom: 16px;
}

.options .option-item button:hover {
  background: #5181ab;
  color: #fff;
}

.poll-content .vote-count {
  padding: 4px 0;
  border-radius: 3px;
  margin-right: 8px;
  width: 48px;
  text-align: center;
}

.poll-content .vote-count .number {
  text-align: center;
  font-size: 20px;
  line-height: 22px;
  font-weight: bold;
} 

.poll-content .vote-count .text {
  font-size: 12px;
}

.poll-content .poll-info {
  padding-top: 2px;
}

.poll-content .poll-info .title {
  font-size: 18px;
  margin-bottom: 8px;
}

.poll-content .poll-info .author {
  font-size: 13px;
  color: #777;
}

.poll-form .controls {
  margin-bottom: 8px;
}

.has-error .help-block {
  font-style: italic;
}

.user-page .user-info h3 {
  margin-top: 0;
}