<template name="pollPage">
  <div class="poll-container">
    {{> pollItem}}

    <div class="options-wrapper">
      {{#if hasVoted}}
        <div class="result">
          {{> pollResult}}
        </div>
      {{else}}
        <ul class="options">
          {{#each options}}
            {{> optionItem}}
          {{/each}}
        </ul>
      {{/if}}
    </div>

    <div class="notice">
      {{#if currentUser}}
      {{else}}
        <div class="alert alert-info">Please login to vote</div>
      {{/if}}
    </div>
  </div>
</template>